@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: poppins;
    overflow-x: hidden;
    background-image: url(../images/my-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

button {
    color: black;
    font-family: sans-serif;
    font-weight: 400;
}

input {
    color: white;
    font-size: 11px;
}

 ::placeholder {
    color: white;
    padding-left: 20px;
}

@media only screen and (max-width: 550px) {
     ::placeholder {
        padding-left: 10px;
    }
}

.wrapper2 {
    display: flex;
    width: 100%;
    margin-top: 30px;
}

.lists {
    width: 100%;
    background: white;
    border-radius: 15px 0 0 15px;
    color: black;
    font-weight: bold;
    margin-top: 20px;
    font-size: 10px;
    margin: 2px;
}

.lists:last-child {
    width: 16%;
}

.lists:last-child p {
    transform: rotate(-90deg);
    margin-top: 25px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

.lists button {
    float: right;
    border: none;
    margin-top: 2px;
    width: 40%;
    height: 19px;
    border-radius: 100px;
}

.review h3 {
    border-left: 3px solid orange;
    padding: 5px;
}

.inputt input {
    border: none;
    background: none;
    border-bottom: 2px solid white;
    outline: none;
}

.sidemenu {
    height: 100%;
    padding: 0px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    background: black;
}

.text {
    border: 2px solid white;
    border-radius: 10px;
}

.main {
    /* background: black; */
    color: white;
    /* margin-left: 0; */
    /* background-image: url(../images/bg.png); */
    background-size: cover;
    background-repeat: no-repeat;
}


/* .wrapper{
   	 display: flex;
  	   	 background-image: url(../images/bg.png);
  	 background-size: cover;
  	 background-repeat: no-repeat;

  }*/


/*
 .box{
  	 color: white;
 	 flex-grow:  8;
   	 color: white;
  	 padding-left: 10px;
       }*/

.left {
    padding: 0px;
    /* position: relative; */
    /* position: fixed; */
    /* background: black;
     background-image: url(../images/bg.png); */
    /*    background-size: cover;
    background-repeat: no-repeat;*/
}

.right {
    height: 100%;
    right: 0;
    position: fixed;
}

@media only screen and (max-width: 763px) {
    .right {
        position: static;
    }
    .left {
        position: static;
        margin-bottom: 40px;
    }
}

.toggleicon {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

.menutext {
    text-decoration: none;
    color: white;
    padding-left: 10px;
    display: none;
}

.menuicon {
    margin-top: 100px;
    line-height: 60px;
    text-align: center;
}

.rotate {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 1260px;
}

.section {
    width: 100%;
    height: 100%;
    color: white;
    background: #575353;
    cursor: pointer;
    border-bottom: 3px solid black;
    border-radius: 5px;
}

.section:first-child {
    background: #171616;
}

.section:last-child {
    background: #191a1b;
}

.section p {
    transform: rotate(-90deg);
    margin-top: 300px;
    font-weight: bold;
}

.border-style {
    border-radius: 0 15px 15px 0;
    display: inline-block;
    border: 5px solid warning;
}


/*  
 .border-style-white {
     border-radius: 0 0 10px 20px;
     display: inline-block;
     border: 5px solid warning;
 } */

.adress-margin {
    margin-left: 25px;
}

#calendr button {
    background: orange;
    color: white;
    border: none;
    padding: 5px;
}

.searchbar ::placeholder {
    color: white;
}

.bakground {
    background-image: url(../images/profle-bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.calender-center {
    /* width: 40%; */
    padding-left: 0;
}

.finer-detail-width {
    width: 45%;
}

.finer-detail-width2 {
    width: 50%;
}

.review-column-padding {
    height: 860px;
    padding-right: 0;
}

@media only screen and (max-width: 763px) {
    .finer-detail-width {
        width: 50%;
    }
}

@media only screen and (max-width: 550px) {
    .review-column-padding {
        padding-left: 0;
    }
}

@media only screen and (max-width: 550px) {
    .job-spec-fontsieze {
        font-size: 0.8rem;
    }
    .job-spec-fontsieze1 {
        font-size: 0.72rem;
    }
    .job-spec-fontsieze2 {
        font-size: 0.7rem;
    }
    .job-spec-fontsieze3 {
        font-size: 0.68rem;
    }
}

.message {
    margin: 0 auto;
}

.card4 {
    width: 270px;
    background: #1a1d1b;
    height: 260px;
    padding: 9px;
    overflow: auto;
    border-radius: 10px;
}

.card4::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.card4::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 8px;
}

.card4::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(13deg, #c7ceff 14%, #f9d4ff 64%);
}

.card4::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}

.card4 span {
    float: right;
}

.card4 img {
    width: 60px;
    height: 60px;
}

.user-card2 {
    width: 97%;
    background: #1a1d1b;
    position: relative;
    border-radius: 20px;
    font-size: 11px;
    height: 60px;
}

.user-card2 img {
    position: absolute;
    top: 40px;
    left: -20px;
    width: 80px;
    height: 80px;
    right: 0;
}

.user-card2 #bioo {
    float: right;
    width: 200px;
    padding: 0px;
}

#bioo p {
    color: white;
}

#bioo .span {
    float: right;
}

#workprofile {
    border-left: 3px solid orange;
    color: white;
}


/*///  THE PROFILE SEC CSS  ////*/

.user-card {
    background: #656b676e;
    color: white;
    padding: 3px;
    font-size: 10px;
    position: relative;
    border-radius: 20px;
}

.user-card-wp {
    background: #656b676e;
    border-radius: 20px;
    color: white;
    padding: 3px;
    font-size: 10px;
    position: relative;
    margin-top: 50px;
}

.user-card .user-img {
    width: 80px;
    height: 80px;
    top: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
}

.user-card-wp .user-img {
    width: 80px;
    height: 80px;
    top: -40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
}

.user-card #username {
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
}

.user-card #user-email {
    font-size: 14px;
    text-align: center;
}

.user-card #user-text {
    text-align: center;
}

#education {
    color: white;
    font-size: 11px;
}

.qualification {
    color: orange;
    font-size: 14px;
    padding-left: 20px;
    padding-top: 13px;
}

.usr-img {
    position: relative;
}

.usr-img img {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 30px;
    left: -0px;
    right: 0px;
}

.bio {
    font-size: 10px;
    margin: 10px;
}

.bio img {
    width: 50px;
    height: 50px;
}

#div2 {
    font-size: 13px;
    text-transform: lowercase;
}

.pad-wp-p {
    padding-top: 50px;
    text-align: center;
    font-size: 1rem;
}

.mf-color {
    color: orange;
    border-bottom: 2px solid orange;
}