 
h1 {
  text-align: center;
  margin: 10vh 0;
  padding: 0 10px;
}

main {
  display: flex;
  max-width: 1000px;
  margin: auto;
}

 

@media (max-width: 992px) {
  h1 {
    margin: 20px 0;
  }
  main {
    flex-direction: column;
  }
 
}

.codeflask {
  position: relative !important;
  min-height: 300px;
}

.codeflask--has-line-numbers .codeflask__flatten {
  width: auto !important;
}

.calendar-wrapper {
  width: 100%;
  max-width: 400px;
   border: 1px solid #eee;
   margin-top: 100px;
   margin-left: 24px;
  padding: 10px;
 }

  