* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

input {
    color: white;
}

::placeholder {
    color: white;
}

h1 {
    letter-spacing: 4px;
    font-weight: bold;
}

.sidebar {
    height: 100%;
    width: 260px;
    position: fixed;
    background: black;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    background-image: url(../images/profile-img5.png);
}

.tabs {
    width: 40px;
    height: 100%;
    float: right;
    top: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 93%;
    right: 0;
    background: black;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: overlay;
    justify-content: space-between;
}

.mybox {
    width: 100%;
    height: 35%;
    cursor: pointer;
    border-top: 1px solid lightgrey;
}

.mybox p {
    transform: rotate(-90deg);
    margin-top: 120px;
}

.mybox:first-child {}

.mybox:last-child {}


/*
sidebar section*/

.rightside {
    width: 410px;
    position: fixed;
    background: red;
    height: 100%;
    right: 0;
    top: 0;
    background-image: url(../images/bg2.png);
}

.sideicon {
    width: 90px;
    height: 100%;
    background: black;
    top: 0;
    position: absolute;
    right: 0;
    float: right;
}

.menutext {
    text-decoration: none;
    color: white;
    padding-left: 10 px;
    display: none;
}

.sideicon ul {
    list-style: none;
    margin-top: 100px;
}

.sideicon li {
    line-height: 80px;
}

.sideicon .textt {
    display: none;
    color: white;
}

.menuicon {
    margin-top: 100px;
    line-height: 60px;
    text-align: center;
}

.menuicon img {
    width: 30px;
    height: 30px;
    margin-left: 30px;
}

.rotate p {
    transform: rotate(-90deg);
}

.toggleicon {
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.lists {
    width: 100%;
    background: white;
    height: 140px;
    border-radius: 10px;
    color: black;
    margin: 3px;
    font-weight: bold;
    margin-top: 10px;
    font-size: 12px;
    line-height: 25px;
}

.lists:last-child {
    width: 20%;
    margin-right: 80px;
}

.lists:last-child p {
    transform: rotate(-90deg);
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
}

.lists button {
    float: right;
    border: none;
    margin-top: 4px;
    padding: 1px;
}

.review1 {
    width: 100%;
}

.review1 h3 {
    border-left: 1px solid orange;
    padding-left: 10px;
}

.main {
    margin-left: 260px;
    margin-right: 410px;
    padding: 30px;
    color: white;
    background-image: url(../images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.main .input input {
    border: none;
    background: none;
    border-bottom: 2px solid white;
    outline: none;
}

.text {
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
}


/*
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- http://www.mangcut.vn/blog/2014-11-26-sonar-effect-with-css.html -->

<div class="sonar-wrapper">
	<div class="sonar-emitter">
    <div class="sonar-wave"></div>
  </div>
</div>/* Make it looks good on CodePen */


/* Prevent scrollbars to appear when waves go out of bound */


/*.sonar-wrapper {
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding: 8rem 0;
}*/


/* The circle */


/*.sonar-emitter {
  position: relative;
  margin: 0 auto;
  width: 275px;
  height: 275px;
  border-radius: 9999px;
  background-color: HSL(45,100%,50%);*/


/* the 'wave', same shape and size as its parent */


/*.sonar-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-color: HSL(45,100%,50%);
  opacity: 0;
  z-index: -1;
  pointer-events: none;*/


/*
  Animate!
  NOTE: add browser prefixes where needed.
*/


/*.sonar-wave {
  animation: sonarWave 2s linear infinite;
}

@keyframes sonarWave {
  from {
    opacity: 0.4;
  }
  to {
    transform: scale(3);
    opacity: 0;
  }
}
*/